@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "_CustomerLayout";
}

<h1>Index</h1>

<p>
    @if (Model.Id == 0)
    {
        <a asp-action="Create">Register for service</a>
    }
    else
    {
        <a asp-action="Suspend" asp-route-id="@Model.Id">Suspend Pickup</a>
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
    }


</p>





