@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "_CustomerLayout";
}

<h1>Welcome to Trash Collector</h1>
<h3>If you have not set up a pickup address, you will first need to register.</h3>

<p>
    <a asp-action="Create">Register for services</a>
    <a asp-action="Suspend" asp-route-id="@Model.Id">Suspend Pickup</a>
    <a asp-action="Details" asp-route-id="@Model.Id">Account Details</a>


</p>





