@model TrashCollector.Models.Employee

@{
    ViewData["Title"] = "Index";
    Layout = "_EmployeeLayout";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="CheckPickups" asp-route-id="@Model.Id" asp-route-pickupDate="@DateTime.Today">Check Pickups For Today</a>
</p>








