@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Trash Collector!</h1>
    <p>Please register as a customer or as an employee to use this service.</a>.</p>
</div>
